body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    position: relative;
    top: 275px;
    font-family: 'Water Brush', cursive;
    font-size: 110px;
}

.quote {
    color: white;
    text-align: center;
    position: relative;
    top: 250px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.intro {
    background-image: url(Images/img2.jpg);
    height: 810px;
    margin-top: 0%;
    position: relative;
    top: -65px;
    padding: 0%;
}

.container {
    display: flex;
    background-image: url(Images/img3.jpg);
    position: relative;
    top: -65px;
    height: 700px;
    align-items: center;
}

.text {
    color: white;
    text-align: justify;
    margin-left: 100px;
    margin-right: 75px;
    position: relative;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    margin-left: 50px;
    padding-bottom: 10px;
    width: 400px;
    border-radius: 100px;
}

.tt {
    background-image: url(Images/img6.jpg);
    position: relative;
    top: -65px;
    height: 1300px;
}

table {
    border-style: solid;
    border-color: #3c8dbc;
    border-collapse: collapse;
    margin: 0 auto;
    width: 10%;
}

caption {
    margin-top: 25px;
    padding-bottom: 25px;
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

tr:nth-child(odd) {
    background-color: rgb(255, 255, 204);
}

tr:nth-child(even) {
    background-color: rgb(249, 239, 164);
}

tr:nth-child(1),
tr:nth-child(2) {
    background-color: rgb(204, 204, 255);
}

tr:nth-child(3),
tr:nth-child(4) {
    background-color: #99CCFF;
}

td {
    width: 50%;
    text-align: center;
    border-style: solid;
    border-color: #3c8dbc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.grey {
    background-color: rgb(226, 226, 226);
}

.ne {
    background-color: #CCFF33;
}

iframe {
    align-content: center;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.trt {
    color: white;
    font-size: 30px;
    font-family: 'Reenie Beanie', cursive;
    margin-right: 450px;
    margin-left: 250px;
}

.mp {
    color: white;
    font-size: 30px;
    font-family: 'Reenie Beanie', cursive;
    margin-left: -55px;
}

.line1 {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.vid {
    display: inline;
    position: relative;
    margin-right: 100px;
}

.map {
    display: inline;
}

.vidback {
    background-image: url(Images/img4.jpg);
}


.socm {
    display: flex;
    align-items: center;
    background-image: url(Images/img5.jpg);
    height: 700px;
}

.cm {
    margin-top: 50px;
}

.social {
    display: inline;
    width: 90px;
    height: 90px;
    margin-bottom: 50px;
}

.soc {
    margin-top: 10px;
}

h2 {
    display: inline;
    color: white;
    text-align: left;
    font-family: 'My Soul', cursive;
    font-size: 90px;
    margin-right: 400px;
    margin-left: 50px;
}